.card-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.card-grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.address {
  width: 50%;
}
.web {
  width: 50%;
  padding-top: 60px;
}
.title {
  margin-top: 10px;
}

@media screen and (max-width: 1400px) {
  .card-grid-3 {
    grid-template-columns: 1fr 1fr;
  }
}
