/*--------SECTION-GENERAL------*/

.section__img {
	object-fit: cover;
	aspect-ratio: 5/3;
	border-radius: 20px;
	max-width: 450px;
}

.text-wrapper {
	max-width: 630px;
}

.description {
	text-align: justify;
}

.subtitle {
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 0.9rem;
	color: var(--ifm-color-gray-700);
}

.container {
	display: flex;
	gap: 70px;
	justify-content: space-between;
	align-items: center;
	transition: ease all 0.5s;
}
.section-description {
	margin-bottom: 2.5rem;
}

.row-reverse {
	flex-direction: row-reverse;
}

.img-container {
	width: 60%;
}

.img {
	width: 100%;
}

@media screen and (max-width: 1440px) {
	.img-container {
		width: 70%;
	}
	.content-container {
		width: 30%;
	}
}

@media screen and (max-width: 1440px) {
	.container {
		transition: ease all 0.5s;
		gap: 60px;
	}
}

@media screen and (max-width: 770px) {
	.container {
		transition: ease all 0.5s;
		gap: 30px;
	}
	.img-container {
		width: 100%;
		align-items: center;
	}
	.content-container {
		width: 100%;
	}
	.text-wrapper > h2 {
		text-align: center;
		margin-top: 10px;
	}
	.subtitle {
		text-align: center;
	}

	.description {
		text-align: center;
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}

	.text-wrapper {
		max-width: 800px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.section__img {
		width: 80%;
		transition: ease all 0.5s;
	}
	.container {
		flex-direction: column-reverse;
		gap: 40px;
		transition: ease all 0.5s;
	}
	.content-container > p {
		text-align: center;
	}
	.center {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 400px) {
	.section__img {
		width: 100%;
		transition: ease all 0.5s;
	}

	.text-wrapper > h2 {
		text-align: center;
	}

	.description {
		text-align: center;
		margin-top: 20px;
	}

	.text-wrapper {
		margin: auto;
	}
}

.noImg {
	width: 550px;
	height: 300px;
	transition: ease all 0.2s;
	border-radius: 20px;
}

@media (max-width: 1000px) {
	.noImg {
		width: 450px;
		height: 270px;
		transition: ease all 0.2s;
	}
}

@media (max-width: 770px) {
	.noImg {
		width: 500px;
		transition: ease all 0.2s;
		margin: 0 auto;
	}
}

@media (max-width: 660px) {
	.noImg {
		width: 430px;
		transition: ease all 0.2s;
		margin: 0 auto;
	}
}

@media (max-width: 450px) {
	.noImg {
		width: 300px;
		transition: ease all 0.2s;
		margin: 0 auto;
	}
}
